.Rproj.user
.Rhistory
.RData
.Rapp.history
.Ruserdata
.DS_Store
data/*
results/*
LIRTS_Raw_Data/*
LIRTS_DEG_Spreadsheets/*
LIRTS_DEG_Analysis_results/*
LTS_Viewer.zip
Rplot.pdf
*.png
*.pdf
*.RData
lfc1 LTS_Wildtype_WGCNA_ModuleTraitCorrelation.pdf
